.main-container{
  width: 1170px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  
}

.main-menu{
  /* flex: 3; */
  height: 380px;
  border-right: 0.5px solid black;
}

.main-menu ul{
  margin-right: 16px;
  margin-top: 40px;
  width: 217px;
  height: 334px;
}

.main-menu ul li{
  font-family: Poppins;
  color: black;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 16px;
}

.main-swiper{
  /* flex:70px; */
  width: 892px;
  height: 334px;
  /* background: blue; */
}

.main-menu ul :nth-child(1){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.main-menu ul :nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}