.sigle-priduct {
  object-fit: cover;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
}

.product-screen-container {
  max-width: 1170px;
  height: 600px;
  margin: auto;
}
