.card-container{
  width: 1170px;
  margin: auto;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 30px;

}
.card{
  width: 270px;
  height: 350px;
  color: black;
  display: flex;
  flex-direction: column;
}

.img-container{
  width: 270px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.card img{
  object-fit: cover;
}

.card-title h3, span{
  color: black;
}