.card-container{
  width: 1170px;
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* flex-direction: row; */
  gap: 10px;
  margin-top: 40px;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .2s;
}

.card{
  width: 270px;
  height: 350px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.img-container{
  width: 270px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.card img{
  object-fit: cover;
}

.card-title h3{
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 10px;
}

.price-rating{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 8px;
  margin-left: 10px;
}

.price{
  color: #DB4444;
  font-size: 16px;
  font-weight: 500;
}

/* .add-to-card{
  display: none;
} */
