.sigle-priduct {
  object-fit: cover;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 400px;
  background:#f5f5f5 ;
}

.product-screen-container {
  max-width: 1170px;
  height: 600px;
  margin: auto;
  display: flex;
  margin-top: 100px;
}



.product-screen-info-container{
  width: 200px;

}