.category-container{
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  cursor: pointer;
}

.category{
width: 170px;
  height: 145px;
  border: black 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: .5rem;
}

.category-container :hover{
  background:#DB4444 ;
  color: #fff;
  transition: .3s;
}

.category :nth-child(1){
  font-size: 35px;
}
.category :nth-child(2){
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}


